:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-jetblack: #292929;
  --c-jetblack-soft: #343434;
  --c-jetblack-mute: #404040;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-divider-light-1: rgb(182, 182, 182);
  --c-divider-light-2: rgb(134, 134, 134);
  --c-divider-dark-1: rgb(116, 116, 116);
  --c-divider-dark-2: rgb(77, 77, 77);

  --c-text-light-1: var(--c-black);
  --c-text-light-2: rgb(60, 60, 60);
  --c-text-light-3: rgb(90, 90, 90);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgb(230, 230, 230);
  --c-text-dark-3: rgb(206, 206, 206);

  --c-shadow-light: #8b8b8b;
  --c-shadow-light-soft: lightgrey;
  --c-shadow-dark: #000000;
  --c-shadow-dark-soft: rgb(20, 20, 20);

  --theme-transition-duration: 0.3s;
  --fx-transition-duration: 0.1s;
  --fx-transition-duration-slow: 0.2s;
  --theme-color-transition: color var(--theme-transition-duration) linear;
  --theme-border-transition: border var(--theme-transition-duration) linear;
  --theme-bg-transition: background-color var(--theme-transition-duration) linear;
  --theme-shadow-transition: box-shadow var(--theme-transition-duration) linear;
}

:root,
.light {
  --c-background: var(--c-white);
  --c-background-soft: var(--c-white-soft);
  --c-background-mute: var(--c-white-mute);

  --c-border: var(--c-divider-light-1);
  --c-border-soft: var(--c-divider-light-2);

  --c-text: var(--c-text-light-1);
  --c-text-soft: var(--c-text-light-2);
  --c-text-mute: var(--c-text-light-3);
  --c-box-border: transparent;
  --c-shadow: var(--c-shadow-light);
  --c-shadow-soft: var(--c-shadow-light-soft);
}

@media (prefers-color-scheme: dark), (prefers-contrast: more) {
  :root {
    --c-background: var(--c-jetblack);
    --c-background-soft: var(--c-jetblack-soft);
    --c-background-mute: var(--c-jetblack-mute);

    --c-border-soft: var(--c-divider-dark-2);
    --c-border: var(--c-divider-dark-1);

    --c-text: var(--c-text-dark-1);
    --c-text-soft: var(--c-text-dark-2);
    --c-text-mute: var(--c-text-dark-3);
    --c-box-border: transparent;
    --c-shadow: var(--c-shadow-dark);
    --c-shadow-soft: var(--c-shadow-dark-soft);
  }
}
.dark {
  --c-background: var(--c-jetblack);
  --c-background-soft: var(--c-jetblack-soft);
  --c-background-mute: var(--c-jetblack-mute);

  --c-border-soft: var(--c-divider-dark-2);
  --c-border: var(--c-divider-dark-1);

  --c-text: var(--c-text-dark-1);
  --c-text-soft: var(--c-text-dark-2);
  --c-text-mute: var(--c-text-dark-3);
  --c-box-border: transparent;
  --c-shadow: var(--c-shadow-dark);
  --c-shadow-soft: var(--c-shadow-dark-soft);
}

@media (prefers-contrast: more) {
  :root {
    --c-background: var(--c-black);
    --c-background-soft: var(--c-black-soft);
    --c-background-mute: var(--c-black-mute);

    --c-border-soft: var(--c-white);
    --c-border: var(--c-white);

    --c-text: var(--c-white);
    --c-text-soft: var(--c-white);
    --c-text-mute: var(--c-text-dark-2);
    --c-box-border: var(--c-white);
    --c-shadow: var(--c-shadow-dark);
    --c-shadow-soft: var(--c-shadow-dark-soft);
  }
}
.high-contrast {
  --c-background: var(--c-black);
  --c-background-soft: var(--c-black-soft);
  --c-background-mute: var(--c-black-mute);

  --c-border-soft: var(--c-white);
  --c-border: var(--c-white);

  --c-text: var(--c-white);
  --c-text-soft: var(--c-white);
  --c-text-mute: var(--c-text-dark-2);
  --c-box-border: var(--c-white);
  --c-shadow: var(--c-shadow-dark);
  --c-shadow-soft: var(--c-shadow-dark-soft);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--c-text);
  background: var(--c-background);
  transition: var(--theme-color-transition), var(--theme-bg-transition);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
